@charset "utf-8";
/* CSS Document 
keywords_application;
*/
body{
	font-size: 14px;
	width:1250px;
	margin:20px;
	}
#cusName{
	 width:466px;
  height:20px;
	}
#key{
	width:266px;
  height:20px;
	}
#price{
	width:66px;
  height:20px;
	}
.bordered{
	width: 100%;
	height:200px;
	border:#CCC 1px solid;
	}
.bordered tr{
	padding:5px;
}	
#n{
	padding:10px 5px;
	}	

