	table{
		border-collapse:collapse;
		border:1px #CCCCCC solid;
		text-align:center;
		width:1165px;
		
	}
	.title{
		font-weight:bold;
		background-color:#EFEFEF;
		
	}
	#download{
	height:20px;
	width:1100px;
	}
	#download a{
	float:right;
	}
	
	tr,td{
		border:1px #CCCCCC solid;
		font-size:14px;
		padding:5px;
	}
	#foot{
		height:200px;
	}
	h1{
		text-align:center;
	}