body,div,h3,form,table,tr,td,ul,li{
		margin:0px;
		padding:0px;
		font-size:14px;
	}
	body{
		margin:0 0 0 120px;
	}
	#h3{
		margin:15px 0 0 0;
		font-size:30px;
		text-align:center;
	}
	.top{
		margin:0 0 15px 15px;
		padding:10px;
		border:1px #EFEFEF solid;
		text-align:center;
		
	}
	table{
		margin:0 0 0 13px;
		border-collapse:collapse;
		border:1px #C4C4C4 solid;
		text-align:center;
	}
	.title{
		font-weight:bold;
		background-color:#EFEFEF;
	}
	td{
		border:1px #C4C4C4 solid;
		line-height:25px;
	}
#pager{
	margin:50px auto;
	display: flex;
}
#pager ul{
	margin: 30px auto;
	}
#pager ul li a{
	margin: 0px auto;
	width:30px;
	display:block; 
	TEXT-DECORATION: none;
	color:#000;
}

#pager ul li{
	width:30px;
	text-align:center;
	line-height:35px;
	BORDER-BOTTOM: #ccc 1px solid; 
	BORDER-LEFT: #ccc 1px solid;
	FLOAT: left; 
	BORDER: #ccc 1px solid; 
	list-style:none;
}
.page{
	width:30px;
}
.pagecss{
	width:30px;
	background-color:  #EEEEE0;
}

#pager ul li:hover{
	background-color: #EEEEE0;
	border: black 1px solid;
}
	.submit{
		vertical-align:middle;
	}
	.green{
		color:#008000;
	}
	.red{
		color:#FF3B57;
	}